@import "tailwindcss";

body{
    font-family: "Fredoka", sans-serif;
    overscroll-behavior-y: none;
}

/* .active {
  @apply block text-amber-500;
} */

/* Desktop only */
@media (min-width: 768px) {
  .active {
    color: #FBBF4b;
    font-weight:500
  }
}

/* Mobile override */
@media (max-width: 767px) {
  .active {
    color: #E7f5f5;
    /* font-weight: normal; */
    /* background-color: rgba(0, 0, 11, 0.6);; */
    
  }
}

/*Animations*/
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.animate-fade-up {
    animation: fade-up 1.8s ease-out forwards;
}


@custom-variant hover (&:hover);

::-webkit-scrollbar {
    overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 0.8s linear infinite;
}


