@import "tailwindcss";

body{
    font-family: "Fredoka", sans-serif;
    overscroll-behavior-y: none;
}

/*Animations*/
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.animate-fade-up {
    animation: fade-up 1.8s ease-out forwards;
}


@custom-variant hover (&:hover);

::-webkit-scrollbar {
    overflow: hidden;
}



